body {
    background-color: wheat;
}

header {
    font-size: 40px;
    font-weight: bold;
}
p {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    font-family: verdana;
    font-size: 40px;
    color: darkslategray;
}

img.one {
    height: 30%;
    width: 30%;
}

img.two {
    height: 30%;
    width: 30%;
}

img.three {
    height: 30%;
    width: 30%;
}

img.four {
    height: 30%;
    width: 30%;
}