body {
    background-color: wheat;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: darkslategray;
}

p {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 150px;
    margin-left: 0px;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 0px;
    font-family: verdana;
    font-size: 20px;
    color: darkslategray;
}

img.one {
    height: 30%;
    width: 30%;
}

img.two {
    height: 30%;
    width: 30%;
}

img.three {
    height: 30%;
    width: 30%;

}

img.four {
    height: 30%;
    width: 30%;

}